[submodule "style/_source/vendor/rowanmanning/pigeon"]
	path = style/_source/vendor/rowanmanning/pigeon
	url = https://github.com/rowanmanning/pigeon.git
[submodule "style/_source/vendor/rowanmanning/frag"]
	path = style/_source/vendor/rowanmanning/frag
	url = https://github.com/rowanmanning/frag.git
