
/*
 * Nav
 * ===
 *
 * The `nav` class is used to create a horizontal
 * navigation. It removes list styling and directly
 * descending list items are floated.
 *
 *     <ul class="nav">
 *         <li>
 *             <a href="...">Link</a>
 *         </li>
 *         ...
 *     </ul>
 */
 
.nav
  margin-left: 0
  padding-left: 0
  list-style: none
  zoom: 1 /* hack */

  &:after
    display: table
    content: ''
    clear: both

  > li
    float: left
