
// Main container styles
html {
    @extend %noisy;
    min-height: 100%;
    background-color: $c-cream;
}
%before-bar {
    content: "";
    height: 10px;
    display: block;
}
body:before {
    @extend %before-bar;
    @extend %noisy;
    background-color: $c-lilac-dk;
}
.wrapper:before {
    @extend %before-bar;
    @extend %noisy;
    background-color: $c-lilac;
}
