
<a href="/" class="space logo">
    <img src="/media/logo.png" alt="Pigeon"/>
</a>

<ul class="stack navigation" role="navigation">
    <li>
        <a href="/">Home</a>
    </li>
    <li>
        <a href="/docs/install/">Installation</a>
    </li>
    <li>
        <a href="/docs/config/">Configuration</a>
    </li>
    <li>
        <a href="/docs/objects/">Documentation</a>

        <ul class="stack">
            <li>
                <a href="/docs/objects/#typography">Type Objects</a>
                <a href="/docs/objects/#lists">List Objects</a>
                <a href="/docs/objects/#data">Data Objects</a>
                <a href="/docs/objects/#utilities">Utility Objects</a>
            </li>
        </ul>
    </li>
</ul>
