
<ul class="stack">
    <li>
        <a href="/">Home</a>
    </li>
    <li>
        <a href="/docs/install/">Installation</a>
    </li>
    <li>
        <a href="/docs/config/">Configuration</a>
    </li>
    <li>
        <a href="/docs/objects/">CSS Objects</a>

        <ul class="stack indent">
            <li>
                <a href="/docs/objects/#typography">Type Objects</a>
                <a href="/docs/objects/#lists">List Objects</a>
                <a href="/docs/objects/#data">Data Objects</a>
            </li>
        </ul>
    </li>
</ul>
