
<a href="/pigeon/" class="space logo">
    <img src="/pigeon/media/logo.png" alt="Pigeon"/>
</a>

<ul class="stack navigation" role="navigation">
    <li class="space-less">
        <a href="/pigeon/">Home</a>
    </li>
    <li class="space-less">
        <a href="/pigeon/docs/install/">Installation</a>
    </li>
    <li class="space-less">
        <a href="/pigeon/docs/config/">Configuration</a>
    </li>
    <li class="space-less">
        <a href="/pigeon/docs/objects/">Documentation</a>

        <ul class="stack">
            <li>
                <a href="/pigeon/docs/objects/#typography">Type Objects</a>
                <a href="/pigeon/docs/objects/#lists">List Objects</a>
                <a href="/pigeon/docs/objects/#data">Data Objects</a>
                <a href="/pigeon/docs/objects/#utilities">Utility Objects</a>
            </li>
        </ul>
    </li>
</ul>
