
// Actions
.actions {
    li {
        margin-right: $gutter;
        @include rem("margin-bottom", $pigeon-type-line-height);
    }
    @media all and (max-width: $frag-break-mobile) {
        li {
            float: none;
            margin-right: 0;
        }
    }
}

// Action button
.action-button {
    display: block;
    padding-left: $gutter;
    padding-right: $gutter;
    @include rem("padding-top", ($pigeon-type-line-height / 2));
    @include rem("padding-bottom", ($pigeon-type-line-height / 2));
    margin: 0;
    background: $c-lilac;
    text-decoration: none;
    &, &:visited {
        color: $c-grey-dk;
    }
    &:hover {
        background-color: $c-lilac-dk;
        color: $c-cream;
    }
}
