
// Site navigation
.navigation {
    
    a, a:visited {
        padding-left: $gutter;
        padding-right: $gutter;
        @include rem("padding-top", ($pigeon-type-line-height / 2));
        @include rem("padding-bottom", ($pigeon-type-line-height / 2));
        background-color: $c-cream-md;
        border-left: 5px solid $c-lilac-dk;
        color: $c-grey-dk;
        text-decoration: none;
    }
    a:hover {
        background-color: $c-blue;
    }

    @media all and (max-width: $frag-break-mobile) {
        text-align: center;

        a {
            border-left: none;
        }
    }
}
