<!DOCTYPE html>
<html lang="{{ site.lang }}">
<head>
    {% include head.html %}
</head>
<body>
    <div class="wrapper">
        <div class="grid page">

            <div class="col ca-12 cb-4 cc-3 aside">
                {% include header.html %}
            </div>

            <div class="col ca-12 cb-8 cc-9">
                <div class="main">
                    {{ content }}
                </div>
                <div class="footer">
                    {% include footer.html %}
                </div>
            </div>

        </div>
    </div>
</body>
</html>