/*
 * Secret List
 * ===========
 *
 * The `secret-list` class is used to hide the default
 * presentation of a `ul` or `ol`. It removes list
 * styling as well as the default margin/padding
 * assigned by the user-agent.
 *
 *     <ul class="secret-list">
 *         <li>
 *             Nobody knows that I'm a list ;)
 *         </li>
 *     </ul>
 */
.secret-list {
    padding: 0;
    list-style: none;
}
